jehpok.com {
    redir https://www.jehpok.com{uri} permanent
}

www.jehpok.com {
    root * /srv/static/www
    encode zstd gzip
    file_server
}

code.jehpok.com {
    root * /srv/static/code
    encode zstd gzip
    file_server
}
